<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/d72e485706.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Niconne&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Product Cart</title>
</head>

<body>
    <header>
        <div class="left">
            <i class="fas fa-search ileft"></i>
            <input type="text" placeholder="Buscar">
        </div>
        <div class="titulo">
            <a href="/">
                <ul class="container one">
                    <li style="--i:1">S</li>
                    <li style="--i:1.3">A</li>
                    <li style="--i:1.6">B</li>
                    <li style="--i:1.9">O</li>
                    <li style="--i:2.2">R</li>
                </ul>
                <ul class="container">
                    <li style="--i:1">C</li>
                    <li style="--i:1.3">A</li>
                    <li style="--i:1.6">F</li>
                    <li style="--i:1.9">E</li>
                    <li style="--i:2.2">T</li>
                    <li style="--i:2.5">E</li>
                    <li style="--i:2.8">R</li>
                    <li style="--i:3.1">O</li>
                </ul>
            </a>
        </div>
        <div class="right">
            <a href="login">
                <i class="fas fa-user ione"></i>
            </a>
            <a href="productCart">
                <i class="fas fa-shopping-cart itwo"></i>
            </a>
        </div>
    </header>

    <section class="carrito">
        <h2>Carrito <span>(1)</span></h2>
        <div>
            <div class="detalle--item">
                <img src="https://cdn.pixabay.com/photo/2013/08/11/19/46/coffee-171653__340.jpg" alt="">
                <div>
                    <h3>Nombre producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="stock">
                <div>
                    <span>1</span><!-- lleva after + and before - -->
                    <span>33 dispinibles</span><!-- a partir de tablet -->
                </div>
                <p>$99999</p>
            </div>
            <div class="eliminar">
                <button>Eliminar</button>
                <a href="">Ver mas productos</a>
            </div>
        </div>

        <div class="bottom">
            <div>
                <select name="ciudad">
                    <option>Envío a Medellin</option>
                </select>
                <p>Gratis</p>
            </div>
            <div>
                <h3>Total con envio</h3>
                <p>$99999</p>
            </div>
        </div>
        <a class="btn-continuar" href="">Continuar compra</a>
    </section>

</body>

</html>