body {
    background-color: whitesmoke;/* a considerar */
}

nav {
    width: 100%;
    height: 6rem;
    position: absolute;
    /*background-color: #FF0059; rgba(78, 98, 12, 0.79); */
    background-image: url('/img/coral_texture.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem 0 1rem;
    box-sizing: border-box;
    z-index: 10;
}

.menuTop-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTop-left input{
    /* margin-left: .5rem; */
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
}
.menuTop-left input:focus{
    outline: none;
}
.menuTop-left input:active{
    outline: none;
}
.menuTop-left input::placeholder{
    color: white;/* hsla(173, 51%, 13%, 0.991); */
}

.menuTop-mid {
    display: flex;
    align-items: center;
    /* width: 60%; */
}
.menuTop-mid a {
    color: white;
    text-decoration: none;
}
.menuTop-mid h1{
    font-family: 'Rubik Dirt', cursive;
    /* font-size: 85px; */
    color: white;
    text-shadow:  4px 4px 4px #EC0650;
    /* margin-left: -200px; */
}
/* .logo {
    width: 59px;
    height: 59px;
  } */

/* .menutop-right {
    margin-right: 1rem;
} */
/* .menutop-right i:nth-of-type(1) {
    color: #EC0650;
} */
i:nth-of-type(1){
    color: #EC0650;
}
.fas {
    background-color: white;
    padding: 8px;
    border-radius: 100%;
    justify-content: right;
}
.fa, .fas {
    font-weight: 600;
    font-size: 14px;
    color: black;
}

i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*backs*/
.backs {
    width: 100%;
    height: 640px;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/12/11/19/coffee-1324126_960_720.jpg');
    /* position: absolute; */
    /* margin-top: -6rem; */
    top: 0;
    /* z-index: -1; */
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .9;
}
.box {
    width: 25%; 
    height: inherit;
    background-color: transparent;
    border-right: thin;
    border-style: solid;
    border-color: #8d8484;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: background-color .7s;
}
.box:hover {
    cursor: pointer;
    background-color: hsla(248, 23%, 26%, 0.384);/* falta por definir */
}
.box a {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: rgba(35, 17, 65, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    transition: transform .7s;
}
.box a:hover {
    transform: translate(0, -30px);
}

/*services*/
.services {
    display: flex;
    justify-content: space-around;
    background-color: #faf5f5;
    padding: 2.2rem 0;
}
.services>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.services>div i{
    font-size: 25px;
    color: #EC0650;
}

/*cards Antioquia*/
.antioquia {/* 
    width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.antioquia h2 {
    font-size: 38px;
    margin-top: 5rem;
}
.antioquia p {
    margin-top: 2rem;
    font-size: 16px;
}

/*Antioquia cards*/
.cards {/* 
     width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.card {
    width: 286px;
    height: 430px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: -2px 7px 39px -8px rgba(0,0,0,0.39);
    transition: box-shadow .7s;
    cursor: pointer;
}
.card:hover {
    box-shadow: -2px 7px 39px 0px rgba(0,0,0,0.39);
}
.card img {
    border-radius: 10px 10px 0 0;
    height: 60%;
    width: 100%;
    transition: transform .7s;
}
.card img:hover {
    transform: translateY(-15px);
}
.card p, a {
    margin: 2.5rem 0;
    text-align: center;
}
.card p {
    font-size: 20px;
    color: #8d8484;
}
.card p+a {
    text-decoration: none;
    color: #EC0650;
}
.card a h3 {
    font-size: 30px;
    font-weight: 500;
    transition: transform .7s;
}
.card a h3:hover {
    transform: scale(1.2);
}

.ver {
    background-color: #EC0650;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    margin-top: 5rem;
    padding: .7rem 3.5rem;
    text-decoration: none;
}
.ver:hover {
    opacity: .7;
}

/*carrusel*/
 .carrusel {
    
    /* height: 100vh; */
    display: flex;
    align-items: center;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 30px 0px; */
    gap: 2rem;
  }
  
  .carrusel-item {
    min-width: 286px;
    cursor: pointer;
    height: 430px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 2rem;
    padding: .5rem;
    box-shadow: -2px 7px 39px -8px rgba(0,0,0,0.39);
    transition: box-shadow .7s;
    text-decoration: none;
  }
  .carrusel-item h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 2.5rem;
    transition: transform .7s;
    color: #2C2C2C;
  }
  .carrusel-item p {
    font-size: 20px;
  }
  .carrusel-item img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: transform .7s;
  }
  .carrusel-item img:hover {
    transform: translateY(-15px);
}
  
  .carrusel-item:hover {
    transform: scale(1.1);
  }


/*contacto*/
.contacto {
    background-color: #EC0650;
    margin-top: 2rem;
    padding: 1rem;    
}
.contacto img {
    width: 50%;
    height: 350px;
    margin-right: 1rem;
}
.formulario>h2 {
 font-family: 'Rubik Dirt', sans-serif;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 32px;
  line-height: 26px;
  color: white;
  margin-bottom: 1rem;
  text-shadow:  2px 2px 2px #2C2C2C;
  align-self: flex-start;
}
.contacto div {
    display: flex;
}

.contacto .formulario{
    margin-top: 1rem;
    font-family: 'Rubik Dirt', sans-serif;
    width: 50%;
  }
  .form__label {/* aun no hace nada */
    font-size: 22px;
    margin-bottom: 1rem;
  }
  
    .input-container {
      position: relative;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-sizing: border-box;
    }
    
    .input {
      box-sizing: border-box;
      border: 1px solid #d6eaff;;
      border-bottom: 2px solid #C8C8C8;
      border-radius: 5px 5px 0 0 ;
      padding: 1.375rem 0.5rem 0.5rem;
      font-size: 22px;
      width: 100%;
    }
    .input::placeholder {
      visibility: hidden;
    }
    .input:focus {
      outline: none;
    }
    
    .input-label {
      position: absolute;
      top: 1.375rem;
      left: 0.5rem;
      font-size: 18px;
      transition: all 0.25s;
      color: #A2A2A2;
    }
    .input:not(:placeholder-shown) + .input-label,
    .input:focus + .input-label {
      font-size: 0.875rem;
      top: 0.25rem;
      transition: all 0.25s;
      color: #D6D6D6;
    }
  
    .button {
      display: block;
     /*  background-color: #FF0059; */
      border: 2px solid #FF0059;
      border-radius: 7px;
      width: 100%;
      font-family: 'Rubik Dirt', sans-serif;
      padding: 1.125rem;
      box-sizing: border-box;
      color: #EC0650;
      font-size: 22px;
      align-self: center;
      text-align: center;
      width: 40%;
    }
    .button:hover{
      /* color: #FF0059;
      background-color: white;
      border-color: #FF0059; */
      cursor: pointer;
      opacity: .7;
    }
  
  .registrarse {
    display: inline-block;
    margin-top: 1rem;
    color: #454545;
  }
  
  footer {
    background-color: #454545;
    color: white;
    font-size: 16px;
    padding: 50px 0;
    text-align: center;
    width: 100%;
  }


  .slider { 
    display: flex; /* esto hace que las imagenes se alineen horizontalmente y se salgan del contenedor */
    height: 320px;
    width: 100%; 
    overflow-x: scroll;/* lo que queda por fuera del vw se oculta, solo es accesible por scroll */
    scroll-snap-type: x mandatory;/* hace que al hacer scroll junto con la propiedad que esta en img centre la vista auto */
}
.slider span {
    display: inline-block;
    height: 320px;
    width: 100%;
    overflow-x: scroll;/* lo que queda por fuera del vw se oculta, solo es accesible por scroll */
    scroll-snap-type: x mandatory;
}
.slider img {
    width: 100%;
    object-fit:cover;
    scroll-snap-align: center;
}